.prof-pic{
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin: 10px 10px 10px 25px;
}

#side-nav {
  border: 5px solid white;
  display: table;
  width: 250px;
}

.nav {
  border: 2px solid white;
  text-align: center;
}

.nav li{
  padding-top: 10px;
  height: 50px;
}

.nav li:active,
.nav li:hover {
  background: lightgrey;
  cursor: pointer;
}

.nav > .active{
  background: white;
  border: 1px solid lightgrey;
  font-weight: bold;
}

.main-bar {
  background: white;
  margin-left: -10px;
  margin-top: 10px;
  radius: 10px;
}
