<div id="stats-app">
  <div class="row">
    <div class="col-md-5">
      <p><strong>Total appointments this week: 25</strong></p>
      <ul class="list-group">
        <li class="list-group-item">Appointments remaining: <span class="badge badge-info badge-pill float-right mt-1">15</span></li>
        <li class="list-group-item">Appointments completed: <span class="badge badge-success badge-pill float-right mt-1">10</span></li>
      </ul>
    </div>
  <div class="col-md-5">
    <p><strong>Customers</strong></p>
    <ul class="list-group">
      <li class="list-group-item">Return customers: <span class="badge badge-success badge-pill float-right mt-1">15</span></li>
      <li class="list-group-item">New Customers: <span class="badge badge-success badge-pill float-right mt-1">10</span></li>
    </ul>
  </div>
</div>
