
h1, h2, h6, p, .fab {
  color: #3b444b;
}

.prof-pic {
  max-height: 100px;
  border-radius: 4px;
  margin: 5px;
  margin-right: 20px;
}

p {
  margin: 5px;
}

.team-block {
  background: #fafafa; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#e3e3e3, #ffffff, #e3e3e3); /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e3e3e3, #ffffff, #e3e3e3); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#e3e3e3, #ffffff, #e3e3e3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e3e3e3, #ffffff, #e3e3e3); /* Standard syntax */
  border-radius: 4px;
  margin: 10px 0px;
  padding: 5px;
  box-shadow: 1px 1px 5px #bbb;
  border: 1px solid #aaaaaa;
}

.fab {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  margin: 0 2px;
}
.fa-github-square:hover {
  color: #6e5494;
}
.fa-facebook:hover {
  color: #3B5998;
}
.fa-linkedin:hover {
  color: #0077B5;
}
