.blur-box::before {
  background: url('/assets/img/barbershop.jpg') 0 / cover fixed;
}
.blur-box {
  margin: 100px auto;
  position: relative;
  padding: 25px;
  padding-bottom: 5px;
  background: hsla(0,0%,100%,.3);
  font-size: 20px;
  line-height: 1.5;
  border-radius: 8px;
  width: 70%;
  box-shadow: 5px 3px 30px #333333;
  overflow: hidden;
}

.blur-box::before {
  content: '';
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}
.margin-10 {
  margin: 10px 0px;
}
.input {
  background-color: rgba(0,0,0,0%);
  color: white !important;
}
.input:focus {
  background-color: rgba(0,0,0,10%);
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa !important;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: aaaaaa !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: aaaaaa !important;
}
.signup-button {
  background-color: rgba(0,0,0,0%);
  border: 1px solid white;
  color: white;
  transition: background-color ease 0.25s;
}
.signup-button:hover {
  background-color: rgba(0,0,0,10%);
}

.login-button {
  transition: background-color ease 0.25s;
}
.login-button:hover {
  background-color: rgb(180,180,180);
}
a {
  color: #333;
  font-size: 12px;
  display: block;
}
a:hover {
  color: #ccc;
}
