<div class="blur-box">
    <input class="form-control input margin-10" placeholder="Email" type="email">
    <input class="form-control input margin-10" placeholder="Password" type="password">
  <a href="#">Trouble logging in?</a>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn margin-10 signup-button" style="width:100%">Sign Up</button>
    </div>
    <div class="col-sm-6">
      <button class="btn margin-10 login-button" style="width:100%">Login</button>
    </div>
  </div>
</div>
